ul {
  margin: 0; padding: 0;
}

li.card {
  vertical-align: top;
  display: inline-block;
  margin: 0.5rem;
  width: 15rem;
  @media print {
    width: 12em;
  }
}

a.card-header {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  &:hover {
    background-color: #ccc;
  }
  @media print {
    font-size: 1.1em;
    padding: 0.2em;
  }
}

.card a.btn {
  text-align: right;
}

li.list-group-item {
  padding: 0.2rem;
  font-size: 0.9rem;
  border-color: #eee;
  @media print {
    font-size: 0.6em;
  }
}

.glass {
  position: absolute;
  top: 5rem;
  right: 1rem;
  z-index: 10;
  text-align: center;
  @media print {
    top: 3.5em;
  }
}

.glass img {
  width: 3rem;
  margin-bottom: 0.5rem;
  @media print {
    width: 2.2em;
  }
}

.glass p {
  color: gray;
  font-size: 0.8em;
}

.alcoholfree {
  background-color: #fdd;
}
